<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- External CSS stylesheets or other meta tags can go here -->
    <link href="style.css" rel="stylesheet" />
    <link href="styleguide.css" rel="stylesheet" />
  </head>

  <body>
    <div class="feature">
      <div class="frame-931">
        <div class="frame-930">
          <div class="frame-929">
            <p class="title">MANAGEMENT</p>
            <p class="title2">Focus on the essentials we’ll do the rest</p>
          </div>

          <div class="frame-27">
            <p class="frame-27-title">
              <b>Plateform</b> takes of your orders and employees, let you
              manage sales, marketing campaigns - easy and all in one place.
            </p>
            <p class="frame-27-title-2">
              With our Ai based optimization tool, the system will suggest
              small, easy to implement changes to make your business run better
              and smoother.
            </p>
          </div>
        </div>

        <div class="frame-928">
          <div class="feature-bottom">
            <img class="feature-icon" src="" />
            <p class="feature-text">Manage multiple locations and menu</p>
          </div>

          <div>
            <img class="feature-icon" src="" />
            <p class="feature-text">All sales statistics in one place</p>
          </div>

          <div>
            <img class="feature-icon" src="" />
            <p class="feature-text">Keep track of marketing campaigns</p>
          </div>

          <div>
            <img class="feature-icon" src="" />
            <p class="feature-text">
              Fully customizable to suit your business best
            </p>
          </div>
        </div>
        <div class="frame-927">
          <div class="frame-909">
            <div class="avatar-profile">
              <img src="img/Avatar.png" alt="avatar-profile" />
              <div class="ellipse-11"></div>
              <div class="ellipse-7"></div>
            </div>
            <p class="avatar-title">Hello! Angelina</p>
          </div>
          <div class="frame-925">
            <div class="frame-923">
              <div class="frame-913">
                <p class="frame-header-title">Today in sales</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">$12,472.00</p>
                  </div>
                </div>
              </div>
              <div class="frame-915">
                <p class="frame-header-title">New customers</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">456</p>
                    <div class="percent">
                      <p class="frame-header-body-right">
                        <img src="img/Vector 1.png" alt="vector-1-graph" />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="frame-923">
              <div class="frame-913">
                <p class="frame-header-title">Orders Today</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">124</p>
                    <div class="percent">
                      <p class="frame-header-body-right">+15%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-915">
                <p class="frame-header-title">New customers</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">50</p>
                    <div class="percent danger">
                      <p class="frame-header-body-right">-3%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-924">
              <div class="frame-913">
                <p class="frame-header-title">Delivered</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">110</p>
                    <div class="percent">
                      <p class="frame-header-body-right">+36%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-915">
                <p class="frame-header-title">Returning</p>
                <div class="frame-912">
                  <div class="frame-header">
                    <p class="frame-header-body-left">256</p>
                    <div class="percent">
                      <p class="frame-header-body-right">+25%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-926">
            <div class="frame-921">
              <p class="header-polular">Least popular</p>
              <p class="body-polular">Pizza Zucchini</p>
            </div>
            <div class="frame-920">
              <p class="header-polular">Most polular</p>
              <p class="body-polular">Pizzaa Tomate</p>
            </div>
          </div>
        </div>
      </div>
      <div class="group-24">
        <img src="img/image 23.png" alt="">
      </div>

      <div class="group-11">
        <img src="img/Group 11.png" alt="">
      </div>
      
      <div class="group-13">
        <img src="img/Group 13.png" alt="">
      </div>

      <div class="group-14">
        <img src="img/Frame 14.png" alt="">
      </div>
    </div>

    </div>
  </body>
</html>
