:root {
  --white: rgba(255, 255, 255, 1);
  --primary-09: rgba(0, 19, 51, 1);
  --primary-08: rgba(6, 41, 102, 1);
  --primary-07: rgba(13, 65, 154, 1);
  --primary-06: rgba(26, 83, 182, 1);
  --primary-04: rgba(79, 132, 225, 1);
  --primary-03: rgba(125, 165, 236, 1);
  --primary-02: rgba(189, 209, 245, 1);
  --primary-01: rgba(241, 246, 255, 1);
  --neutral-09: rgba(3, 12, 27, 1);
  --neutral-08: rgba(7, 18, 35, 1);
  --neutral-07: rgba(18, 29, 47, 1);
  --neutral-06: rgba(37, 48, 66, 1);
  --neutral-05: rgba(54, 64, 80, 1);
  --neutral-04: rgba(114, 124, 143, 1);
  --neutral-03: rgba(141, 150, 166, 1);
  --neutral-02: rgba(201, 207, 217, 1);
  --neutral-01: rgba(239, 241, 244, 1);
  --success-09: rgba(0, 62, 17, 1);
  --success-08: rgba(5, 115, 35, 1);
  --success-07: rgba(9, 150, 48, 1);
  --success-06: rgba(14, 176, 59, 1);
  --success-05: rgba(26, 196, 74, 1);
  --success-04: rgba(67, 224, 111, 1);
  --success-03: rgba(121, 230, 152, 1);
  --success-02: rgba(170, 245, 191, 1);
  --success-01: rgba(237, 255, 242, 1);
  --danger-09: rgba(50, 0, 0, 1);
  --danger-08: rgba(118, 4, 4, 1);
  --danger-07: rgba(140, 6, 6, 1);
  --danger-06: rgba(182, 14, 14, 1);
  --danger-05: rgba(201, 27, 27, 1);
  --danger-04: rgba(216, 54, 54, 1);
  --danger-03: rgba(236, 114, 114, 1);
  --danger-02: rgba(250, 180, 180, 1);
  --danger-01: rgba(255, 242, 242, 1);
  --title-04-font-family: "Plus Jakarta Sans", Helvetica;
  --title-04-font-weight: 400;
  --title-04-font-size: 48px;
  --title-04-letter-spacing: -0.96px;
  --title-04-line-height: 58px;
  --title-04-font-style: normal;
  --title-03-font-family: "Plus Jakarta Sans", Helvetica;
  --title-03-font-weight: 500;
  --title-03-font-size: 48px;
  --title-03-letter-spacing: -0.48px;
  --title-03-line-height: 58px;
  --title-03-font-style: normal;
  --title-02-font-family: "Plus Jakarta Sans", Helvetica;
  --title-02-font-weight: 600;
  --title-02-font-size: 48px;
  --title-02-letter-spacing: -0.48px;
  --title-02-line-height: 58px;
  --title-02-font-style: normal;
  --title-01-font-family: "Plus Jakarta Sans", Helvetica;
  --title-01-font-weight: 700;
  --title-01-font-size: 48px;
  --title-01-letter-spacing: 0px;
  --title-01-line-height: 58px;
  --title-01-font-style: normal;
  --heading-1-04-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-1-04-font-weight: 400;
  --heading-1-04-font-size: 40px;
  --heading-1-04-letter-spacing: -0.8px;
  --heading-1-04-line-height: 48px;
  --heading-1-04-font-style: normal;
  --heading-1-03-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-1-03-font-weight: 500;
  --heading-1-03-font-size: 40px;
  --heading-1-03-letter-spacing: -0.4px;
  --heading-1-03-line-height: 48px;
  --heading-1-03-font-style: normal;
  --heading-1-02-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-1-02-font-weight: 600;
  --heading-1-02-font-size: 40px;
  --heading-1-02-letter-spacing: -0.4px;
  --heading-1-02-line-height: 48px;
  --heading-1-02-font-style: normal;
  --heading-1-01-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-1-01-font-weight: 700;
  --heading-1-01-font-size: 40px;
  --heading-1-01-letter-spacing: 0px;
  --heading-1-01-line-height: 48px;
  --heading-1-01-font-style: normal;
  --heading-2-04-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-2-04-font-weight: 400;
  --heading-2-04-font-size: 32px;
  --heading-2-04-letter-spacing: -0.64px;
  --heading-2-04-line-height: 38px;
  --heading-2-04-font-style: normal;
  --heading-2-03-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-2-03-font-weight: 500;
  --heading-2-03-font-size: 32px;
  --heading-2-03-letter-spacing: -0.32px;
  --heading-2-03-line-height: 38px;
  --heading-2-03-font-style: normal;
  --heading-2-02-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-2-02-font-weight: 600;
  --heading-2-02-font-size: 32px;
  --heading-2-02-letter-spacing: -0.32px;
  --heading-2-02-line-height: 38px;
  --heading-2-02-font-style: normal;
  --heading-2-01-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-2-01-font-weight: 700;
  --heading-2-01-font-size: 32px;
  --heading-2-01-letter-spacing: 0px;
  --heading-2-01-line-height: 38px;
  --heading-2-01-font-style: normal;
  --heading-3-04-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-3-04-font-weight: 400;
  --heading-3-04-font-size: 24px;
  --heading-3-04-letter-spacing: -0.24px;
  --heading-3-04-line-height: 29px;
  --heading-3-04-font-style: normal;
  --heading-3-03-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-3-03-font-weight: 500;
  --heading-3-03-font-size: 24px;
  --heading-3-03-letter-spacing: -0.24px;
  --heading-3-03-line-height: 29px;
  --heading-3-03-font-style: normal;
  --heading-3-02-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-3-02-font-weight: 600;
  --heading-3-02-font-size: 24px;
  --heading-3-02-letter-spacing: 0px;
  --heading-3-02-line-height: 29px;
  --heading-3-02-font-style: normal;
  --heading-3-01-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-3-01-font-weight: 700;
  --heading-3-01-font-size: 24px;
  --heading-3-01-letter-spacing: 0px;
  --heading-3-01-line-height: 29px;
  --heading-3-01-font-style: normal;
  --heading-4-04-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-4-04-font-weight: 400;
  --heading-4-04-font-size: 18px;
  --heading-4-04-letter-spacing: 0px;
  --heading-4-04-line-height: 28px;
  --heading-4-04-font-style: normal;
  --heading-4-03-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-4-03-font-weight: 500;
  --heading-4-03-font-size: 18px;
  --heading-4-03-letter-spacing: 0px;
  --heading-4-03-line-height: 32px;
  --heading-4-03-font-style: normal;
  --heading-4-02-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-4-02-font-weight: 600;
  --heading-4-02-font-size: 18px;
  --heading-4-02-letter-spacing: 0px;
  --heading-4-02-line-height: 32px;
  --heading-4-02-font-style: normal;
  --heading-4-01-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-4-01-font-weight: 700;
  --heading-4-01-font-size: 18px;
  --heading-4-01-letter-spacing: 0px;
  --heading-4-01-line-height: 32px;
  --heading-4-01-font-style: normal;
  --body-1-04-font-family: "Plus Jakarta Sans", Helvetica;
  --body-1-04-font-weight: 400;
  --body-1-04-font-size: 16px;
  --body-1-04-letter-spacing: 0px;
  --body-1-04-line-height: 22px;
  --body-1-04-font-style: normal;
  --body-1-03-font-family: "Plus Jakarta Sans", Helvetica;
  --body-1-03-font-weight: 500;
  --body-1-03-font-size: 16px;
  --body-1-03-letter-spacing: 0px;
  --body-1-03-line-height: 22px;
  --body-1-03-font-style: normal;
  --body-1-02-font-family: "Plus Jakarta Sans", Helvetica;
  --body-1-02-font-weight: 600;
  --body-1-02-font-size: 16px;
  --body-1-02-letter-spacing: 0px;
  --body-1-02-line-height: 22px;
  --body-1-02-font-style: normal;
  --body-1-01-font-family: "Plus Jakarta Sans", Helvetica;
  --body-1-01-font-weight: 700;
  --body-1-01-font-size: 16px;
  --body-1-01-letter-spacing: 0px;
  --body-1-01-line-height: 22px;
  --body-1-01-font-style: normal;
  --body-2-04-font-family: "Plus Jakarta Sans", Helvetica;
  --body-2-04-font-weight: 400;
  --body-2-04-font-size: 14px;
  --body-2-04-letter-spacing: 0px;
  --body-2-04-line-height: 22px;
  --body-2-04-font-style: normal;
  --body-2-03-font-family: "Plus Jakarta Sans", Helvetica;
  --body-2-03-font-weight: 500;
  --body-2-03-font-size: 14px;
  --body-2-03-letter-spacing: 0px;
  --body-2-03-line-height: 20px;
  --body-2-03-font-style: normal;
  --body-2-02-font-family: "Plus Jakarta Sans", Helvetica;
  --body-2-02-font-weight: 600;
  --body-2-02-font-size: 14px;
  --body-2-02-letter-spacing: 0px;
  --body-2-02-line-height: 20px;
  --body-2-02-font-style: normal;
  --body-2-01-font-family: "Plus Jakarta Sans", Helvetica;
  --body-2-01-font-weight: 700;
  --body-2-01-font-size: 14px;
  --body-2-01-letter-spacing: 0px;
  --body-2-01-line-height: 20px;
  --body-2-01-font-style: normal;
  --caption-04-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-04-font-weight: 400;
  --caption-04-font-size: 12px;
  --caption-04-letter-spacing: 0px;
  --caption-04-line-height: 17px;
  --caption-04-font-style: normal;
  --caption-03-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-03-font-weight: 500;
  --caption-03-font-size: 12px;
  --caption-03-letter-spacing: 0px;
  --caption-03-line-height: 17px;
  --caption-03-font-style: normal;
  --caption-02-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-02-font-weight: 600;
  --caption-02-font-size: 12px;
  --caption-02-letter-spacing: 0px;
  --caption-02-line-height: 17px;
  --caption-02-font-style: normal;
  --caption-01-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-01-font-weight: 700;
  --caption-01-font-size: 12px;
  --caption-01-letter-spacing: 0px;
  --caption-01-line-height: 17px;
  --caption-01-font-style: normal;
}
