<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>

    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <!-- header Content here -->

      <header>
        <div class="frame-103">
          <div class="frame-98">
            <div class="group-1">
              <div class="rectangle-1"></div>
              <div class="rectangle-2"></div>
              <div class="rectangle-3"></div>
              <div class="rectangle-4"></div>
            </div>
            <p class="logo-text">PLATFORM</p>
          </div>

          <div class="frame-102">
            <ul>
              <li><a href="#about-us">About us</a></li>
              <li><a href="#features2">Features</a></li>
              <li><a href="#features3">Testimonials</a></li>
              <li><a href="#about">Intergrations</a></li>
              <li><a href="#about">Pricing</a></li>
            </ul>
          </div>

          <div class="height-of-about-us">
            <div class="rectangle-shadows">
              <div class="rectangle-97"></div>
              <div class="rectangle-108"></div>
              <div class="rectangle-104"></div>
              <div class="rectangle-107"></div>
            </div>

            <div class="group-27"></div>
          </div>
        </div>

        <div class="decor-05">
          <div class="frame-870">
            <p class="percent">+25%</p>
          </div>
          <div class="group-7">
            <div class="arrow">
              <img src="img/Group.png" />
            </div>
            <div class="group-6">
              <div class="rectangle-92"></div>
              <div class="rectangle-91"></div>
              <div class="rectangle-90"></div>
              <div class="rectangle-89"></div>
            </div>
          </div>
          <div class="rectangle-88"></div>
        </div>

        <div class="frame-874">
          <p class="p-header">Restaurant Management made as easy as pie</p>

          <p class="p-body">
            Plateform will help you manage your store easily with its
            outstanding features. Trusted be ten of thousands of customers all
            over the world.
          </p>

          <div class="button-container-frame-104">
            <button class="btn-left">Watch video</button>
            <button class="btn-right">Try the demo</button>
          </div>
        </div>
      </header>

      <section id="about-us" class="section-height">
        <div class="frame-902">
          <div class="frame-20">
            <div class="frame-20-title">
              <p>THIS IS PLATEFORM</p>
            </div>
            <p class="res-reimagined">Restaurant reimagined</p>
          </div>

          <p class="frame-902-text">
            We are one-stop solution to track, optimize and deliver food with an
            easy to use mobile app for ordering and our award winning desktop
            app for manament.
          </p>

          <div class="frame-908">
            <div class="frame-906">
              <img src="img/Icon (1).png" class="icon" />

              <p>Fast to deploy</p>
            </div>
            <div class="frame-906">
              <img src="img/Icon (2).png" class="icon" />
              <p>Easy to learn</p>
            </div>
            <div class="frame-906">
              <img src="img/Icon.png" class="icon" />
              <p>Future rich</p>
            </div>
          </div>
        </div>

        <div class="frame-906">
          <div class="frame-887 margin-top-1">
            <p>software build for and trusted by 100+ brands</p>
          </div>
        </div>

        <div class="frame-906">
          <div class="frame-887 margin-top-2">
            <div class="frame-886">
              <div class="frame-882">
                <img src="img/image 11.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 8.png" alt="image 12" />
              </div>
              <div class="frame-882">
                <img src="img/image 12.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 13.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 15.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 16.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 10.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 14.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 13.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 15.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 16.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 10.png" alt="image 11" />
              </div>
              <div class="frame-882">
                <img src="img/image 14.png" alt="image 11" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="features2">
        <div class="mobile-area">
          <div class="iPhone">
            <div class="frame-935">
              <p>Answer call</p>
            </div>
            <div class="frame-934">
              <p class="p1">Customer calling</p>
              <!-- <p class="p2">calling</p> -->
            </div>
            <div class="frame-936">
              <div class="group-17">
                <div class="group-4">
                  <img src="img/call-calling.png" class="call-calling" />
                  <div class="ecllipse3"></div>
                  <!-- <div class="ecllipse2"></div> -->
                </div>
                <div class="ecllipses">
                  <div class="ecllipse7"></div>
                  <div class="ecllipse6"></div>
                  <div class="ecllipse5"></div>
                  <div class="ecllipse4"></div>
                </div>
              </div>
            </div>
            <img
              class="iPhone-12"
              src="img/iPhone 12 Mockup Front View label.png"
              alt="iphone 12 mockup front view "
            />
            <img class="main" src="img/main.png" alt="main " />
          </div>
          <div class="group-18">
            <div class="fraem-943">
              <p class="call">Call customer</p>
              <!-- <img src="img/msg.png" alt="" /> -->
              <p class="msg">💬</p>
            </div>
            <div class="fraem-944">
              <div class="fraem-940">
                <p class="awaiting-order">Awaiting order</p>
                <p class="in-delivery">In delivery</p>
              </div>
              <div class="fraem-939">
                <div class="fraem-946">
                  <div class="fraem-945">
                    <div class="vuesax/bold/location">
                      <div class="vuesax/bold/location">
                        <div class="vector-location">
                          <img src="img/location.png" />
                        </div>
                        <p class="fraem-949-text">Hillmore St 121A</p>
                      </div>
                    </div>
                  </div>
                  <div class="fraem-947">
                    <p>New York</p>
                  </div>
                </div>
                <p class="fraem-949-time">12:20 PM</p>
              </div>
            </div>
          </div>

          <div class="group-19">
            <div class="fraem-943 fraem-943-back-color">
              <p class="call">Call Driver</p>
              <img src="img/👋.png" alt="" />
            </div>
            <div class="fraem-944">
              <div class="fraem-940">
                <p class="awaiting-order">Awaiting order</p>
                <p class="in-delivery">In delivery</p>
              </div>
              <div class="fraem-939">
                <div class="fraem-946">
                  <div class="fraem-945">
                    <div class="vuesax/bold/location">
                      <div class="vuesax/bold/location">
                        <div class="vector-location">
                          <img src="img/Avatar.png" alt="" />
                        </div>
                        <p class="fraem-949-text" style="margin-left: 21px">
                          Hillmore St 121A
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="fraem-947">
                    <p style="margin-left: 21px">New York</p>
                  </div>
                </div>
                <p class="fraem-949-time">
                  <img src="img/Frame 943.png" alt="" />
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="group-19">
            <div class="fraem-942">
              <p class="call">Call driver</p>
              <img src="img/👋.png" alt="" />
              <p class="msg">💬</p>
            </div>
            <div class="fraem-941">
              <div class="fraem-940">
                <p class="awaiting-order">Active drivers</p>
              </div>
              <div class="fraem-939">
                <div class="fraem-938">
                  <div class="Avatar">
                    <img src="img/Ellipse 10.png" alt="" />
                    <img src="img/Ellipse 10.png" alt="" />
                    <div class="fraem-937">
                      <p class="fraem-937-text-1">Mick Morrison</p>
                      <p class="fraem-937-text-2">21 deliveries Today</p>
                    </div>

                    <div class="fraem-943">
                      <img src="img/Frame 943.png" alt="" />
                    </div>
                  </div>
                </div>
                <p class="fraem-949-time">12:20 PM</p>
              </div>
            </div>
          </div> -->
          <div class="rectangle-96"></div>
        </div>
        <div class="group-21">
          <div class="fraem-932">
            <div class="fraem-26">
              <div class="title">
                <p class="fraem-26-title">COMMUNICATION</p>
              </div>
              <p class="fraem-26-body">
                Great communication means more time and profit
              </p>
            </div>
            <div class="fraem-27">
              <p class="text-1">
                Communication is key! That’s why we make it easy and
                hassle-free, so you don’t waster time on unnecessary
                interactions.
              </p>
              <p class="text-2">
                Keep track of your employees, drivers and vehicles, manage
                social media and stay in touch with your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="group-20">
          <div class="fraem-933">
            <div class="communicate">
              <p>Communicate with your employees</p>
              <div class="group-16">
                <img src="img/Vector.png" alt="" />
                <div class="ecllipse23"></div>
              </div>
            </div>
            <div class="communicate">
              <p>Track both drivers and orders</p>
              <div class="group-16">
                <img src="img/Vector.png" alt="" />
                <div class="ecllipse23"></div>
              </div>
            </div>
            <div class="communicate">
              <p>Keep in touch with the customers</p>
              <div class="group-16">
                <img src="img/Vector.png" alt="" />
                <div class="ecllipse23"></div>
              </div>
            </div>
            <div class="communicate">
              <p>Manage deliveries with your suppliers</p>
              <div class="group-16">
                <img src="img/Vector.png" alt="" />
                <div class="ecllipse23"></div>
              </div>
            </div>
          </div>
          <div class="line-3"></div>
        </div>
      </section>
      <section id="features3">
        <div class="rectangle-97 position"></div>

        <div class="frame-869">
          <div class="group-3">
            <div class="ellipse-1">
              <img src="img/Ellipse 1.png" alt="" />
              <p class="group-3-text-1">+21%</p>
            </div>
            <p class="frame-869-text-2">Progress in sales this month</p>
          </div>
        </div>
        <div class="frame-969">
          <div class="frame-976">
            <img src="img/🚩.png" alt="" />
          </div>
          <div class="frame-975">
            <div class="frame-974">
              <p class="text">👍 150%</p>
            </div>
            <div class="Polygon-2"></div>
            <div class="Ellipse-25"></div>
            <div class="Ellipse-24"></div>
            <div class="Vector-5">
              <img src="img/Vector 5.png" alt="" />
            </div>
          </div>
          <div class="frame-973">
            <div class="frame-971">
              <p class="frame-971-text">10k</p>
              <div class="line-3"></div>
            </div>
            <div class="frame-971">
              <p class="frame-971-text">5k</p>
              <div class="line-3"></div>
            </div>
            <div class="frame-971">
              <p class="frame-971-text">1k</p>
              <div class="line-3"></div>
            </div>
            <div class="frame-971">
              <p class="frame-971-text">0k</p>
              <div class="line-3"></div>
            </div>
          </div>
          <p class="frame-973-text">Sales this month</p>
        </div>
        <div class="line-4"></div>
        <p>Sales this month</p>
        <div class=""></div>
        <div class="decor-05 group-9">
          <div class="frame-870">
            <p class="percent">+25%</p>
          </div>
          <div class="group-7">
            <div class="arrow">
              <img src="img/Group.png" />
            </div>


            <div class="frame-959">
              <div class="line-2">
              </div>
              <div class="frame-968">
                <!-- <div class="Pizza">
                   <img src="img/Pizza.png" alt="">
                   <img src="img/image 25.png" alt="">
                  </div> -->
                  <div class="frame-967">
                    <p class="frame-967-text">Pizza Tomate</p>
                  </div>
                  <div class="frame-962">
                    <div class="frame-961">
                      <div class="shopping-cart">
                        <!-- <img src="img/shopping-cart.svg" alt=""> -->
                        <!-- <p class="frame-961-text-1">2390 sold this month</p>
                        <p class="frame-961-text-2">+15%</p> -->
                           </div> 
                      
                      <div class="frame-960">
                          <!-- <img src="img/Star 1.svg" alt=""> -->
                           <!-- <p class="frame-960-text-1">4.9 average rating</p>
                            <p class="frame-960-text-2">+14%</p> -->
                       </div>
                       <!-- <div class="frame-965">
                        <div class="Avatar">
                          <img src="img/Ellipse 11.png" alt="">
                          <img src="img/Avatar (2).png" alt=""> -->

                        </div>
                        <div class="frame-964">
                          <p class="frame-964-text-1">It’s my favorite! Simply delicious!</p>
                          <p class="frame-964-text-2">Amy, New York</p>
                          <p class="frame-964-text-3">Most loved by the customers</p>
                                            </div>
                        <div class="frame-963">
                          <p frame-963-text-1>🏆</p>
                          <p frame-963-text-2>Best seller</p>
                        </div>
                       </div>
                    </div>
                  </div>
              </div>
                  
                  
              </div>
            </div>

            <div class="group-6">
              <div class="rectangle-92"></div>
              <div class="rectangle-91"></div>
              <div class="rectangle-90"></div>
              <div class="rectangle-89"></div>
            </div>
          </div>
          <div class="rectangle-88"></div>
        </div>

      </section>
    </div>
  </body>
</html>
